@model ProductCatalog.Models.AddOREdit
@{
    ViewBag.Title = "Добавление продукта";
}
<form asp-action="AddProd" asp-controller="home">
    <label asp-for="Categor">Категория:  </label>
        <select asp-for="Product.categorysid" asp-items="Model.Categor" class="form-control"></select>


    <div class="form-group">
        <label asp-for="Product.product" class="control-label">Продукт:</label>
        <input type="text" asp-for="Product.product" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.description" class="control-label">Описание:</label>
        <input type="text" asp-for="Product.description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.price" class="control-label">Цена:</label>
        <input type="text" asp-for="Product.price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.note" class="control-label">Примечание:</label>
        <input type="text" asp-for="Product.note" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.spnote" class="control-label">Примечание специальное:</label>
        <input type="text" asp-for="Product.spnote" class="form-control" />
    </div>


    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>

</form>